:root {
  --colorBackground: #0b1d26;
  --colorTextPrimary: #ffffff;
  --colorTextAccent: #fbd784;
  --colorGradientOne: #0b1d2600;
  --colorGradientTwo: #0b1d26b8;
  --fontFamily: "Chivo", sans-serif;
  --secondFamily: "Chonburi", sans-serif;
  --thirdFamily: "Cinzel", sans-serif;
}

/* ===================global================== */

body {
  font-family: var(--fontFamily);
  font-weight: 700;
  font-size: 18px;
  color: var(--colorTextPrimary);
  background-color: var(--colorBackground);
  background-image: url(../img/bg/bghero.webp);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

@media (min-resolution: 2dppx) {
  body {
    background-image: url(../img/bg/bg@2x.webp);
  }
}

.container {
  max-width: 1507px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* ===================header================== */

.header {
  padding-top: 65px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 93.22%;
  padding: 0 15px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.nav-link:hover,
.action-link:hover {
  opacity: 0.8;
}

.logo {
  font-family: var(--secondFamily);
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.action-link {
  font-weight: 900;
  font-size: 17px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.action-link::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../img/icon/account_circle_24px.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ====================main=================== */

.hero {
  padding-top: 200px;
  padding-bottom: 745px;
}

.hero-container {
  max-width: 980px;
}

.hero-suptitle {
  letter-spacing: 0.33em;
  text-transform: uppercase;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.hero-suptitle::before {
  content: "";
  width: 72px;
  height: 2px;
  background-image: url(../img/icon/line.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  font-family: var(--thirdFamily);
  font-weight: 400;
  font-size: 88px;
  line-height: 1.14;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.hero-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-link:hover {
  opacity: 0.8;
}

.hero-link::after {
  content: "";
  width: 16px;
  height: 24px;
  background-image: url(../img/icon/arrow_downward_22px.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.travel-step {
  padding-bottom: 200px;
}

.travel-item {
  margin-bottom: 200px;
}

.travel-item:last-child {
  margin-bottom: 0px;
}

.travel-step {
  display: flex;
  align-items: center;
  gap: 115px;
}

.travel-item:nth-child(even) .step-photo {
  order: -1;
}

.step-body {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-left: 150px;
  background-image: url(../img/icon/Equipment.svg);
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 50px;
}

.travel-item:nth-child(2) .step-body {
  background-image: url(../img/icon/Equipment2.svg);
}

.travel-item:nth-child(3) .step-body {
  background-image: url(../img/icon/Equipment3.svg);
}

.step-text {
  color: var(--colorTextAccent);
  letter-spacing: 0.33em;
  font-weight: 900;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 24px;
}

.step-text::before {
  content: "";
  width: 72px;
  height: 2px;
  background-image: url(../img/icon/line.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.step-title {
  font-size: 64px;
  font-family: var(--thirdFamily);
}

.step-description {
  font-weight: 900;
  line-height: 1.78;
}

.step-link {
  font-weight: 900;
  color: var(--colorTextAccent);
  display: flex;
  align-items: center;
  gap: 10px;
}

.step-link:hover {
  opacity: 0.8;
}

.step-link::after {
  content: "";
  width: 24px;
  height: 16px;
  background-image: url(../img/icon/arrow_downward_24px.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* ===================footer================== */

.footer {
  padding-bottom: 120px;
}

.footer-container {
  display: flex;
  gap: 200px;
}

.footer-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-info-text {
  line-height: 1.78;
  font-weight: 900;
  flex-grow: 1;
}

.footer-info-copyright {
  line-height: 1.78;
  opacity: 0.5;
}

.blog-title,
.mntn-title {
  line-height: 1.33;
  font-weight: 900;
  font-size: 24px;
  color: var(--colorTextAccent);
  margin-bottom: 25px;
}

.blog-list,
.mntn-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.blog-link,
.mntn-link {
  line-height: 1.78;
}

.blog-link:hover,
.mntn-link:hover {
  opacity: 0.8;
}
